<h1>edit.html.erb</h1>

<%#= form_for(@user) do |f| %>
    <p>
        <%#= f.label(:name, 'Name goes here') %>
        <%#= f.text_field(:name, placeholder: "This is the name." ) %>
    </p>
    <p>
        <%#= f.label(:headline, 'Headline') %>
        <%#= f.text_area(:headline, placeholder: "This is the Headline." ) %>
    </p>
    
    <p><%#= f.submit %></p>

<%# end %>

<h1>Edit User </h1>
<%= render('form') %>